<div>
    <div class="row ps-3 pt-4"><h1>Thống Kê</h1></div>
    </div>
    <div class="container">
        <div class="row m-5 ps-5">
           <div class="col-3">
                <button class="btn btn-primary " style="width: 200px;"><i class="bi bi-people" style="background-color: transparent;"> </i>Người Mẹ <br> 1234</button>
            </div>
            <div class="col-3">
                <button class="btn btn-primary " style="width: 200px;"><i class="fas fa-baby" style="background-color: transparent;"> </i> Trẻ Em <br> 1234</button>
            </div>
            <div class="col-3">
                <button class="btn btn-primary " style="width: 200px;"><i class="fas fa-syringe" style="background-color: transparent;"> </i> Mũi Tiêm <br> 1234</button>
            </div>
            <div class="col-3">
                <button class="btn btn-primary " style="width: 200px;"><i class="bi bi-calendar2-range" style="background-color: transparent;"> </i> Khám Bệnh <br> 1234</button>
            </div>
            
            
        </div>
        <div class="row me-5">
            <table class="table m-5 pe-5 shadow rounded-5">
                <thead class="header-table ">
                <tr style="height: 40px;">
                    <th style="width:200px;">Tên</th>
                    <th style="width:200px;">Ngày Sinh</th>
                    <th style="width:200px;">Số Lần Tiêm</th>
                    <th style="width:200px;">Số Lần Khám</th>
                    <th style="width:200px;">Tổng Số Lần Đến</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>mario Schall</td>
                        <td>23/02/2023</td>
                        <td>21</td>
                        <td>1</td>
                        <td>22</td>
                       
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
   