<div>
    <div class="row ps-3 pt-4"><h1>Thống Kê</h1></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <button class="btn btn-primary">
                    <div class="col-4"></div> 
                    <div class="col-8"><p>Người Mẹ</p><p>12323</p></div> 
                </button>
            </div>
        </div>
        <div class="row me-5">
            <table class="table m-5 pe-5 shadow rounded-5">
                <thead class="header-table ">
                <tr style="height: 40px;">
                    <th style="width:200px;">Tên</th>
                    <th style="width:200px;">Ngày Sinh</th>
                    <th style="width:200px;">Số Lần Tiêm</th>
                    <th style="width:200px;">Số Lần Khám</th>
                    <th style="width:200px;">Tổng Số Lần Đến</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>mario Schall</td>
                        <td>23/02/2023</td>
                        <td>21</td>
                        <td>1</td>
                        <td>22</td>
                       
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
   