<div>
    <div class="row ps-3 pt-4"><h1>Mũi Tiêm</h1></div>
   
    <div class="container">
        <div class="row">
            <a href="/admin/injection/add" class="btn btn-primary d-flex align-items-center justify-content-center ms-auto" style="width: 200px; height: 50px; font-size: 20px;">+ Mũi Tiêm</a>
        </div>
        <div class="row ms-4 mt-5" style="width: 400px">
            <label for="search-list-user">Search</label><br/>
            <div class="input-group input-group-sm mb-3" id="search-list-user" name="search-list-user">
                <span class="input-group-text" id="inputGroup-sizing-sm"><i class="bi bi-search-heart"></i></span>
                <input type="text" class="form-control" name="search-list-user" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            </div>
        </div>

        <div class="row me-5">
            <table class="table ms-5 pe-5 shadow rounded-5">
                <thead class="header-table">
                <tr style="height: 40px;">
                    <th style="width:250px;">Tên</th>
                    <th style="width:250px;">Xuất Xứ</th>
                    <th style="width:250px;">Mũi Tiêm</th>
                    <th style="width:250px;">Số Lượng</th>
                    <th style="width:250px;">Ngày Tiêm</th>
                    <th class="text-center" style="width:200px;">Tác Vụ</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>David Nacho</td>
                        <td>USA</td>
                        <td>Prifzer</td>
                        <td>2</td>
                        <td>2/3/2023</td>
                        <td class="d-flex justify-content-center">
                            <a href="/admin/injection/info" class="btn btn-success me-4">Xem</a>
                            <button class="btn btn-danger">Xoá</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
   