<div>
    <div class="row ps-3 pt-4"><h1>Sửa Thông Tin Mũi Tiêm</h1></div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-6">
                <div class="row m-4">
                    <div class="col-4"><strong>Đối Tượng</strong></div>
                    <div class="col-8">
                        <input class="form-control form-control-sm" id="object-name" type="text" placeholder="le minh vu" aria-label=".form-control-sm example" style="width:100%;">
                    </div>
                </div>
                <div class="row m-4">
                    <div class="col-4"><strong>Ngày Sinh</strong></div>
                    <div class="col-8">
                        <input class="form-control form-control-sm" id="object-name" type="text" placeholder="le minh vu" aria-label=".form-control-sm example" style="width:100%;">
                    </div>
                </div>
                <div class="row m-4">
                    <div class="col-4"><strong>Người Giám Hộ</strong></div>
                    <div class="col-8">
                        <input class="form-control form-control-sm" id="object-name" type="text" placeholder="le minh vu" aria-label=".form-control-sm example" style="width:100%;">
                    </div>
                </div>
                <div class="row m-4">
                    <div class="col-4"><strong>Nơi Ở</strong></div>
                    <div class="col-8">
                        <input class="form-control form-control-sm" id="object-name" type="text" placeholder="le minh vu" aria-label=".form-control-sm example" style="width:100%;">
                    </div>
                </div>
                <div class="row m-4">
                    <div class="col-4"><strong>Số Liên Hệ</strong></div>
                    <div class="col-8">
                        <input class="form-control form-control-sm" id="object-name" type="text" placeholder="le minh vu" aria-label=".form-control-sm example" style="width:100%;">
                    </div>
                </div>
                <div class="row m-4">
                    <div class="col-4"><strong>Ngày Đăng Ký</strong></div>
                    <div class="col-8">
                        <input class="form-control form-control-sm" id="object-name" type="text" placeholder="le minh vu" aria-label=".form-control-sm example" style="width:100%;">
                    </div>
                </div>
                <div class="row m-4">
                    <div class="col-4"><strong>Ngày Tiêm</strong></div>
                    <div class="col-8">
                        <input class="form-control form-control-sm" id="object-name" type="text" placeholder="le minh vu" aria-label=".form-control-sm example" style="width:100%;">
                    </div>
                </div>
                
            </div>
            <div class="col-6">
                <div class="row m-4">
                    <div class="col-4"><strong>Tên Mũi Tiêm</strong></div>
                    <div class="col-8">
                        <input class="form-control form-control-sm" id="object-name" type="text" placeholder="le minh vu" aria-label=".form-control-sm example" style="width:100%;">
                    </div>
                </div>
                <div class="row m-4">
                    <div class="col-4"><strong>Xuất Xứ</strong></div>
                    <div class="col-8">
                        <input class="form-control form-control-sm" id="object-name" type="text" placeholder="le minh vu" aria-label=".form-control-sm example" style="width:100%;">

                    </div>
                </div>
                <div class="row m-4">
                    <div class="col-4"><strong>Công Dụng</strong></div>
                    <div class="col-8">
                        <input class="form-control form-control-sm" id="object-name" type="text" placeholder="le minh vu" aria-label=".form-control-sm example" style="width:100%;">

                    </div>
                </div>
                <div class="row m-4">
                    <div class="col-4"><strong>Số Lượng</strong></div>
                    <div class="col-8">
                        <input class="form-control form-control-sm" id="object-name" type="text" placeholder="le minh vu" aria-label=".form-control-sm example" style="width:100%;">

                    </div>
                </div>
                <div class="row m-4">
                    <div class="col-4"><strong>Ngày hết Hạn</strong></div>
                    <div class="col-8">
                        <input class="form-control form-control-sm" id="object-name" type="text" placeholder="le minh vu" aria-label=".form-control-sm example" style="width:100%;">

                    </div>
                </div>
                <div class="row m-4">
                    <div class="col-4"><strong>Nơi Tiêm</strong></div>
                    <div class="col-8">
                        <input class="form-control form-control-sm" id="object-name" type="text" placeholder="le minh vu" aria-label=".form-control-sm example" style="width:100%;">

                    </div>
                </div>
                <div class="row m-4">
                    <div class="col-4"><strong>Bác Sĩ Phụ Trách</strong></div>
                    <div class="col-8">
                        <input class="form-control form-control-sm" id="object-name" type="text" placeholder="le minh vu" aria-label=".form-control-sm example" style="width:100%;">

                    </div>
                </div>
            </div>
            
        </div>
        <div class="row justify-content-center ms-4 mt-5">
            <div class="col-12"><h4>Triệu Chứng Sau Tiêm:</h4></div>
            <textarea class="col-12 ms-5 me-5" rows="5" cols="10">Không</textarea>
        </div>
        <div class="row m-4">
            <a href="/admin/injection/info" class="btn btn-danger ms-auto me-3" style="width: 90px;">Huỷ</a>
            <button class="btn btn-primary me-3" style="width: 90px;">Lưu</button>
        </div>
    </div>
</div>