<div>
    <div class="row ps-3 pt-4"><h1>Thêm Mũi Tiêm</h1></div>
    <div class="container m-5">
        <div class="row m-4">
            <div class="col-6">
                <label for="object-name" class="mb-2">Đối Tượng</label>
                <input class="form-control form-control-sm" id="object-name" type="text" opacity="0.1"  placeholder="le minh vu" aria-label=".form-control-sm example" style="width:500px;">
            </div>
             <div class="col-6">
                <label for="injection-name" class="mb-2">Tên Mũi Tiêm</label>
                <input class="form-control form-control-sm" id="injection-name" type="text" opacity="0.1"  placeholder="vaccin usa " aria-label=".form-control-sm example" style="width:500px;">
            </div>
        </div>
        <div class="row m-4">
            <div class="col-6">
                <label for="object-date" class="mb-2">Ngày Sinh</label>
                <input class="form-control form-control-sm" id="object-date" type="text" opacity="0.1"  placeholder="1/1/2022 " aria-label=".form-control-sm example" style="width:500px;">
            </div>
            <div class="col-6">
                <label for="injection-made" class="mb-2">Xuất Xứ</label>
                <input class="form-control form-control-sm" id="injection-made" type="text" opacity="0.1"  placeholder="usa" aria-label=".form-control-sm example" style="width:500px;">
            </div>
        </div>
        <div class="row m-4">
            <div class="col-6">
                <label for="object-root" class="mb-2">Người Giám Hộ</label>
                <input class="form-control form-control-sm" id="object-root" type="text" opacity="0.1"  placeholder="hoa duc viet " aria-label=".form-control-sm example" style="width:500px;">
            </div>
            <div class="col-6">
                <label for="injection-uses" class="mb-2">Công Dụng</label>
                <input class="form-control form-control-sm" id="injection-uses" type="text" opacity="0.1"  placeholder="ngừa lao phổi " aria-label=".form-control-sm example" style="width:500px;">
            </div>
        </div>
        <div class="row m-4">
            <div class="col-6">
                <label for="object-address" class="mb-2">Nơi Ở</label>
                <input class="form-control form-control-sm" id="object-address" type="text" opacity="0.1"  placeholder="Số 1, Đại Cồ Việt" aria-label=".form-control-sm example" style="width:500px;">
            </div>
            <div class="col-6">
                <label for="injection-number" class="mb-2">Số Lượng</label>
                <input class="form-control form-control-sm" id="injection-number" type="text" opacity="0.1"  placeholder="1 " aria-label=".form-control-sm example" style="width:500px;">
            </div>
        </div>
        <div class="row m-4">
            <div class="col-6">
                <label for="object-phone" class="mb-2">Số Liên Hệ</label>
                <input class="form-control form-control-sm" id="object-phone" type="text" opacity="0.1"  placeholder="0123435333 " aria-label=".form-control-sm example" style="width:500px;">
            </div>
            <div class="col-6">
                <label for="injection-date" class="mb-2">Ngày Hết Hạn</label>
                <input class="form-control form-control-sm" id="injection-date" type="text" opacity="0.1"  placeholder="21/12/2024 " aria-label=".form-control-sm example" style="width:500px;">
            </div>
        </div>
        <div class="row m-4">
            <div class="col-6">
                <label for="object-date-register" class="mb-2">Ngày Đăng Ký</label>
                <input class="form-control form-control-sm" id="object-date-register" type="text" opacity="0.1"  placeholder="1/1/2023 " aria-label=".form-control-sm example" style="width:500px;">
            </div>
            <div class="col-6">
                <label for="injection-address" class="mb-2">Nơi Tiêm</label>
                <input class="form-control form-control-sm" id="injection-address" type="text" opacity="0.1"  placeholder="P302, Viet Hospital " aria-label=".form-control-sm example" style="width:500px;">
            </div>
        </div>
        <div class="row m-4">
            <div class="col-6">
                <label for="object-date-injection" class="mb-2">Ngày Tiêm</label>
                <input class="form-control form-control-sm" id="object-date-injection" type="text" opacity="0.1"  placeholder="12/2/2023" aria-label=".form-control-sm example" style="width:500px;">
            </div>
            <div class="col-6">
                <label for="injection-doctor" class="mb-2">Bác Sỹ Phụ Trách</label>
                <input class="form-control form-control-sm" id="injection-doctor" type="text" opacity="0.1"  placeholder="hoa duc viet" aria-label=".form-control-sm example" style="width:500px;">
            </div>
        <div class="row m-4 p-5">
            <a href="/admin/injection" class="btn btn-danger me-4 ms-auto" style="width: 90px;">Huỷ</a>
            <button class="btn btn-primary me-5" style="width: 90px;">Thêm</button>
        </div>
    </div>
</div>