<div>
    <div class="row ps-3 pt-4"><h1>Đơn Đăng Ký Khám Bệnh</h1></div>
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-10">
            <div class="row">
                <div class="col-4 mt-5"><strong>Người Khám Bệnh</strong></div>
                <div class="col-8 mt-5"></div>
            </div>
            <div class="row">
                <div class="col-4 mt-5"><strong>Ngày Sinh</strong></div>
                <div class="col-8 mt-5"></div>
            </div>
             <div class="row">
                <div class="col-4 mt-5"><strong>Giới Tính</strong></div>
                <div class="col-8 mt-5"></div>
            </div>
             <div class="row">
                <div class="col-12 mt-5"><strong>Triệu Chứng</strong></div>
                <span class="col-12 mt-5 ps-5 pe-5">ádfsadfasdfasdf</span>
            </div>
             <div class="row">
                <div class="col-4 mt-5"><strong>Ngày Khám</strong></div>
                <div class="col-8 mt-5"></div>
            </div>
        </div>
    </div>
    <div class="row m-5">
        <a href="/admin/register" class="btn btn-danger ms-auto me-3" style="width: 80px;">Huỷ</a>
        <button class="btn btn-success me-5" style="width:80px;">Duyệt</button>
    </div>
</div>