<>
    <div class="row ps-3 pt-4"><h1>Sửa Thông Tin Người Dùng</h1></div>
    <div class="row">
        <a href="/admin/user/info" class="btn btn-danger ms-auto" style="width: 100px;">Huỷ</a>
        <button class="btn btn-primary ms-3 me-5" style="width: 100px;">Lưu</button>
    </div>
    <div class="row mt-5">
        <div class="col-6 border-end border-2">
            <div class="row ms-auto">

                <div class="row">
                    <div class="col-4"><strong>Họ Tên</strong></div>
                    <div class="col-8">
                        <input class="form-control form-control-sm" id="object-date" type="text" opacity="0.1"  placeholder="1/1/2022 " aria-label=".form-control-sm example">

                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-4"><strong>Giới Tính</strong></div>
                    <div class="col-8">
                        <input class="form-control form-control-sm" id="object-date" type="text" opacity="0.1"  placeholder="1/1/2022 " aria-label=".form-control-sm example">

                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-4"><strong>Ngày Sinh</strong></div>
                    <div class="col-8">
                        <input class="form-control form-control-sm" id="object-date" type="text" opacity="0.1"  placeholder="1/1/2022 " aria-label=".form-control-sm example">

                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-4"><strong>Quê Quán</strong></div>
                    <div class="col-8">
                        <input class="form-control form-control-sm" id="object-date" type="text" opacity="0.1"  placeholder="1/1/2022 " aria-label=".form-control-sm example">

                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-4"><strong>SĐT</strong></div>
                    <div class="col-8">
                        <input class="form-control form-control-sm" id="object-date" type="text" opacity="0.1"  placeholder="1/1/2022 " aria-label=".form-control-sm example">

                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-4"><strong>Email</strong></div>
                    <div class="col-8">
                        <input class="form-control form-control-sm" id="object-date" type="text" opacity="0.1"  placeholder="1/1/2022 " aria-label=".form-control-sm example">

                    </div>
                </div>
                
            </div>



        </div>
        <div class="col-6 d-flex align-items-center justify-content-center">
            
                            
                <div class="card mb-3 shadow-sm" style="width: 25rem;">
                    <div class="card-body">
                        <h5 class="card-title text-center"><strong> Thông Tin Con</strong> </h5>
                        <hr>
                        <div class="card-text">
                            <div class="row mt-3">
                                <div class="col-6"><strong>Họ Tên</strong></div>
                                <div class="col-6">
                                    <input class="form-control form-control-sm" id="object-date" type="text" opacity="0.1"  placeholder="1/1/2022 " aria-label=".form-control-sm example">

                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-6"><strong>Ngày Sinh</strong></div>
                                <div class="col-6">
                                    <input class="form-control form-control-sm" id="object-date" type="text" opacity="0.1"  placeholder="1/1/2022 " aria-label=".form-control-sm example">

                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-6"><strong>Giới Tính</strong></div>
                                <div class="col-6">
                                    <input class="form-control form-control-sm" id="object-date" type="text" opacity="0.1"  placeholder="1/1/2022 " aria-label=".form-control-sm example">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
           
        
    </div>
</div>