<div>
    <div class="row ps-3 pt-4"><h1>Danh Sách Người Dùng</h1></div>
   
    <div class="container">
        <div class="row ms-4 mt-5" style="width: 400px">
            <label for="search-list-user">Search</label><br/>
            <div class="input-group input-group-sm mb-3" id="search-list-user" name="search-list-user">
                <span class="input-group-text" id="inputGroup-sizing-sm"><i class="bi bi-search-heart"></i></span>
                <input type="text" class="form-control" name="search-list-user" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            </div>
        </div>

        <div class="row me-5">
            <table class="table ms-5 pe-5 shadow rounded-5">
                <thead class="header-table">
                <tr style="height: 40px;">
                    <th style="width:200px;">Tên</th>
                    <th style="width:200px;">Giới Tính</th>
                    <th style="width:200px;">Số Điện Thoại</th>
                    <th style="width:200px;">Email</th>
                    <th style="width:200px;">Địa Chỉ</th>
                    <th class="text-center" style="width:200px;">Tác Vụ</th>
                </tr>
                </thead>
                <tbody>
                    {{#each Users}}
                    <tr>
                        <td>{{this.Ten}}</td>
                        <td>23</td>
                        <td>Kham benh</td>
                        <td>7.00</td>
                        <td>24/6/2023</td>
                        <td class="d-flex justify-content-center">
                            <a href="/admin/user/info" class="btn btn-primary me-4">Xem</a>
                            <button class="btn btn-danger">Xoá</button>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
   