<div>
    <div class="container">
        <div class="row ps-3 pt-4"><h1>Lịch</h1></div>
            <div class="row mt-5 d-flex align-items-center justify-content-center">
                <div class="col-3 ps-5 pe-5">
                    <label for="time-calendar" class="form-label">Thời Gian</label>
                    <input type="text" class="form-control text-center mt-3" id="time-calendar" placeholder="__ __/__ __/__ __ __ __"/>
                </div>
                <div class="col-5 ps-5 pe-5">
                    <label for="filter-calendar" class="form-label">Bộ Lọc</label>
                    <select class="form-select mt-3" aria-label="Default select example">
                    <option selected>Tuỳ chọn</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                    </select>
                </div>
                
            <div class="col-2 ps-5 pt-5"><button class="btn btn-primary">Lịch Tiêm</button></div>
            <div class="col-2 pt-5"><button class="btn btn-primary">Lịch khám</button></div>
        </div>
        <div class="row me-5">
            <table class="table m-5 pe-5 shadow rounded-5">
                <thead class="header-table">
                <tr style="height: 40px;">
                    <th style="width:200px;">Tên</th>
                    <th style="width:200px;">Tuổi</th>
                    <th style="width:200px;">Loại</th>
                    <th style="width:200px;">Tình Trạng</th>
                    <th style="width:200px;">Thời gian</th>
                    <th style="width:200px;"> Ngày</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>mario Schall</td>
                        <td>23</td>
                        <td>Kham benh</td>
                        <td>Dang sap lich</td>
                        <td>7.00</td>
                        <td>24/6/2023</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>