<div>
    <div class="row ps-3 pt-4"><h1>Thống Kê</h1></div>
    </div>
    <div class="container">
        <div class="row m-5 ps-5">
           <div class="col-3">
                <button class="btn btn-primary " style="width: 200px;"><i class="bi bi-people" style="background-color: transparent;"> </i>Người Mẹ <br> 1234</button>
            </div>
            <div class="col-3">
                <button class="btn btn-primary " style="width: 200px;"><i class="fas fa-baby" style="background-color: transparent;"> </i> Trẻ Em <br> 1234</button>
            </div>
            <div class="col-3">
                <button class="btn btn-primary " style="width: 200px;"><i class="fas fa-syringe" style="background-color: transparent;"> </i> Mũi Tiêm <br> 1234</button>
            </div>
            <div class="col-3">
                <button class="btn btn-primary " style="width: 200px;"><i class="bi bi-calendar2-range" style="background-color: transparent;"> </i> Khám Bệnh <br> 1234</button>
            </div>
            
            
        </div>
    </div>
</div>
   