<div>
    <div class="row ps-3 pt-4"><h1>Thông Tin Cá Nhân</h1></div>
    <div class="row">
        <a href="/user/profile/update" class="btn btn-primary ms-auto me-auto" style="width: 100px;">Cập Nhật</a>
    </div>
    <div class="row mt-5">
        <div class="col-6 border-end border-2">
            <div class="row ms-auto" style="width:500px;">

                <div class="row">
                    <div class="col-4"><strong>Họ Tên</strong></div>
                    <div class="col-8">Hoả Đức Việt</div>
                </div>
                <div class="row mt-4">
                    <div class="col-4"><strong>Ngày Sinh</strong></div>
                    <div class="col-8">21/02/2002</div>
                </div>
                <div class="row mt-4">
                    <div class="col-4"><strong>Giới Tính</strong></div>
                    <div class="col-8">Nam</div>
                </div>
                <div class="row mt-4">
                    <div class="col-4"><strong>Quê Quán</strong></div>
                    <div class="col-8">Hà Nội</div>
                </div>
                <div class="row mt-4">
                    <div class="col-4"><strong>SĐT</strong></div>
                    <div class="col-8">01232425454</div>
                </div>
                <div class="row mt-4">
                    <div class="col-4"><strong>Email</strong></div>
                    <div class="col-8">viet.hd205046@sis.hust.edu.vn</div>
                </div>
                
            </div>
                <div class="row m-5">
                    <a href="/user/medical/info" class="btn btn-primary ms-auto" style="width: 150px;">Sổ Khám Bệnh</a>
                    <button href="" class="btn btn-danger ms-3" style="width: 100px;">Xoá</button>
                </div>



        </div>
        <div class="col-6 d-flex align-items-center justify-content-center">
            
                            
                <div class="card mb-3 shadow-sm" style="width: 25rem;">
                    <div class="card-body">
                        <h5 class="card-title text-center"><strong> Thông Tin Con</strong> </h5>
                        <hr>
                        <div class="card-text">
                            <div class="row mt-3">
                                <div class="col-6"><strong>Họ Tên</strong></div>
                                <div class="col-6">Lê Minh Vũ</div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-6"><strong>Ngày Sinh</strong></div>
                                <div class="col-6">21/2/2002</div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-6"><strong>Giới Tính</strong></div>
                                <div class="col-6">Nữ</div>
                            </div>
                            <div class="row mt-4">
                                <a href="/user/medical/info" class="btn btn-primary ms-5" style="width: 150px;">Sổ Khám Bệnh</a>
                                <button class="btn btn-danger ms-3" style="width: 100px;">Xoá</button>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
           
        
    </div>
</div>