<div class="">
    <div class="row ps-3 pt-4"><h1>Đăng Ký Tiêm</h1></div>
    <div class="container m-5">
        <form action="" class="ms-5 me-5">
            <div class="col-12 ms-5">
                <label for="object-name-injection" class="mb-2">Đối Tượng Khám</label>
                <select class="form-select form-select-sm" aria-label=".form-select-sm" id="object-name-injection" style="width: 500px;">
                    <option selected>Chọn</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <label for="object-vacxin-injection" class="mt-4 mb-2">Chọn Vaccin</label>
                <select class="form-select form-select-sm" aria-label=".form-select-sm" id="object-vacxin-injection" style="width: 500px;">
                    <option selected>Chọn</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
               <label for="object-time-injection" class="mt-4 mb-2">Thời Gian Tiêm</label>
                <select class="form-select form-select-sm" aria-label=".form-select-sm" id="object-time-injection" style="width: 500px;">
                    <option selected>Chọn</option>
                    <option value="8:00">8:00</option>
                    <option value="8:30">8:30</option>
                    <option value="9:00">9:00</option>
                    <option value="9:00">9:00</option>
                    <option value="9:30">9:30</option>
                    <option value="10:00">10:00</option>
                    <option value="10:30">10:30</option>
                    <option value="11:00">11:00</option>
                    <option value="11:30">11:30</option>
                    <option value="13:30">13:30</option>
                    <option value="14:00">14:00</option>
                    <option value="14:30">14:30</option>
                    <option value="15:00">15:00</option>
                    <option value="15:30">15:30</option>
                    <option value="16:00">16:00</option>
                    <option value="16:30">16:30</option>
                    <option value="17:00">17:00</option>
                </select>
            </div>
            <div class="row">
                <a href="/user/register" class="btn btn-danger mt-5 ms-auto me-4" style="width:90px;">Huỷ</a>
                <button class="btn btn-primary mt-5 me-5" style="width: 90px;">Đăng Ký</button>
            </div>
        </form>

    </div>
</div>